body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: fit-content;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding: 16px;
  font-weight: 900;
  font-size: 32px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
}

.sidebar li,
.sidebar a {
  list-style: none;
  color: white;
  font-size: 24px;
}

.sidebar a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 30px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}